/*===================== TABLE OF CONTENT =======================
/*
Table Of Content
==================
1.  google fonts
2.  CROSS BROWSER COMPATABILITY
3.  DEFAULT BORDER RADIUS
4.  Sticky Header
5.  Top Scroll Bar

=============================================================*/


/* ================================================================================== 
Fonts
===================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* ================================================================================== 
Reset Css
===================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
::-moz-selection { /* Code for Firefox */
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

::selection {
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

ol, ul {
	list-style: none;
	margin-bottom: 0 !important;
}
a:hover {
	color: inherit !important;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none !important;
}
button {
	outline: none;
}

button:focus {
	outline: none !important;
}

input {
	outline: none;
}
textarea {
	outline: none;
}

p {
	font-size: 14px;
	line-height: 26px;
	color: #686f7a;
}

/* ================ Typography Css =============== */
h1 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
	/* 45px / 36px */
}
h2 {
	font-size: 1.625em;
	/* 1.625x body copy size = 26px */
	line-height: 1.15384615;
	/* 30px / 26px */
}
h3 {
	font-size: 1.375em;
	/* 1.375x body copy size = 22px */
	line-height: 1.13636364;
	/* 25px / 22px */
}
h4 {
	font-size: 1.125em;
	/* 1.125x body copy size = 18px */
	line-height: 1.11111111;
}
h5 {
	font-size: 1.10em;
	/* 1.125x body copy size = 18px */
	line-height: 1.10;
}
h6 {
	font-size: 1em;
	/* 1.125x body copy size = 18px */
	line-height: 1.050;
}
blockquote {
	font-size: 1.25em;
	/* 20px / 16px */
	line-height: 1.25;
	/* 25px / 20px */
}
@media (min-width: 43.75em) {
h1 {
	font-size: 2.5em;
	/* 2.5x body copy size = 40px */
	line-height: 1.125;
}
h2 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
}
h3 {
	font-size: 1.5em;
	/* 1.5x body copy size = 24px */
	line-height: 1.25;
}
h4 {
	line-height: 1.22222222;
	/* (22px / 18px */
}
blockquote {
	font-size: 1.5em;
	/* 24px / 16px = */
	line-height: 1.45833333;
	/* 35px / 24px */
}
}
@media (min-width: 56.25em) {
h1 {
	font-size: 3em;
	/* 3x body copy size = 48px */
	line-height: 1.05;
	/* keep to a multiple of the 20px line height 
	and something more appropriate for display headings */
}
h2 {
	font-size: 2.25em;
	/* 2.25x body copy size = 36px */
	line-height: 1.25;
}
h3 {
	font-size: 1.75em;
	/* 1.75x body copy size = 28px */
	line-height: 1.25;
}
}


/* ================ CROSS BROWSER COMPATABILITY =============== */

.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul,
.user-pro-img > a i {
-webkit-transition: all 0.4s ease-in;
-moz-transition: all 0.4s ease-in;
-ms-transition: all 0.4s ease-in;
-o-transition: all 0.4s ease-in;
transition: all 0.4s ease-in;
}

/* === Body Scrollbar === */

body::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0,0,0,.15);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,.05), inset 1px 1px 0 rgba(0,0,0,.05);
}

html {
   font-size: 14px;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	line-height: 1.42857143;
	color: #333;
	background: #f7f7f7 !important;
}

.menu_left::-webkit-scrollbar {
    width:4px;
}
.menu_left::-webkit-scrollbar-thumb {
    height: 50px;
    background: hsla(0, 0%, 53.3%, 0.4);
}

input[type=text] {
	color: #333 !important;
}

/* --- Preloader --- */





/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  body {
    overflow-y: scroll;
  }

  .logo img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    float: none;
  }

  .wrapper {
    margin-left: 240px;
  }

  .wrapper__minify {
    margin-left: 0;
  }

}

/*--- Left Side Footer ---*/

.alrt_dot {
    position: absolute;
    right: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background: #2D2DA0;
    overflow: hidden;
    width: 5px;
    height: 5px;
    text-align: center;
    border-radius: 100%;
    top: 45%;
}

.left_footer {
    padding: 15px 14px;
}

.left_footer ul li {
    display: inline-block;
}

.left_footer a {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 24px;
    padding: 0 3px;
	color: #333;
}

.left_footer a:hover {
	color: #2D2DA0 !important;
}

.left_footer_content {
    padding-top: 15px;
}

.left_footer_content p {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #afafaf;
    text-align: left;
    line-height: 24px;
}

.left_section {
    border-bottom: 1px solid #e5e5e5;
}

/*--- Index Homepage ---*/

.wrapper {
	padding: 90px 0 0;
    transition: all 0.3s ease-out;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.section3125 {
    float: left;
    width: 100%;
}

.section3126 {
    float: left;
    width: 100%;
}

.item_title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
	float: left;
    margin-bottom: 20px;
}

.see150 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #afafaf;
    text-align: right;
    float: right;
    padding-top: 3px;
    margin-bottom: 20px;
}

.la5lo1 {
    float: left;
    width: 100%;
}

.tutor_img {
    width: 100%;
    float: left;
	padding: 20px;
	text-align: center;
}

.tutor_img img {
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    display: inline-block !important;
    border-radius: 100%;
	border: 2px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.tutor_content_dt {
	text-align: center;
	float: left;
    width: 100%;
    margin-bottom: 20px;
	padding: 0 10px;
}

.tutor_name {
	font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333 !important;
    text-align: center;
	position: relative;
}

.tutor150 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tutor_cate {
    font-size: 13px;
    color: #686f7a;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 17px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.tutor_social_links li {
    display: inline-block !important;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.tutor_social_links li:last-child {
    margin-right: 0;
}

.tutor_social_links li a {
    font-size: 14px;
    float: left;
    width: 35px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    padding: 9px 0;
    color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tutor_social_links li a:hover {
    color: #fff !important;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}

.fb {
	background: #3b5998;
}

.tw {
	background: #1da1f2;
}

.ln {
	background: #8d6cab;
}

.yu {
	background: #2D2DA0;
}

.strttech120 {
    background: #fff;
    width: 100%;
    float: left;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #efefef;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}


.strttech120 h4 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 13px;
}

.strttech120 p {
    font-size: 14px;
    color: #686f7a;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32px;
	line-height: 26px;
}

.footer {
	background: #333;
	width: 100%;
	padding: 0;
	float: left;
}

.item_f1 {
	padding-top: 50px;
}

.item_f1 a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding-bottom: 10px;
    color: #fff;
}

.item_f1 a:hover {
    color: #efefef !important;
}

.item_f1 a:last-child {
    padding-bottom: 0;
}

.item_f3 {
	padding-top: 50px;
}

.btn1542 {
	height: 40px;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: #2D2DA0;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.btn1542:hover {
    color: #fff !important;
    background: #000059;
}

.lng_btn {
	margin-top: 20px;
}

.lng_btn a {
	height: 40px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.lft {
	margin-right: 5px;
}
.rgt {
	margin-left: 5px;
}

.lng_btn a:hover {
    color: #fff !important;
}

.footer_bottm {
	margin-top: 50px;
	padding: 20px 0;
	border-top: 1px solid #454545;
}

.fotb_left li {
	display: inline-block;
	vertical-align: middle;
}

.footer_logo img {
    width: 30px;
	margin-right: 20px;
}

.fotb_left p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #f7f7f7;
    text-align: left;
    line-height: 24px;
}

.edu_social_links {
    text-align: right;
}

.edu_social_links a {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    display: inline-block;
    color: #f7f7f7;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.edu_social_links a:hover {
    color: #fff !important;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 	
}

.lng_btn .ui.dropdown .menu>.item {
	font-family: 'Roboto', sans-serif;
	color: #333 !important;
}

/* --- About Us Page --- */

._215cd2 {
    float: left;
    width: 100%;
    padding: 20px 0 0;
    background: #fff;
	position: relative;
    margin-bottom: 0px;
}

._215cd2:before {
    content: "";
    background: url(../images/about/title_bg.jpg) center bottom repeat-x;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-size: contain;
    opacity: 0.1;
}

.title129 {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.title129 h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px !important;
    color: #333;
    text-align: center;
    line-height: 30px;
}

._215td5 {
	padding: 62px 0;
	float: left;
	width: 100%;
}

.title589 h2 {
	font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 17px !important;
	text-align: center;
	color: #333;
	line-height: 26px;
}

.title589 p {
	font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
	text-align: center;
	color: #686f7a;
	line-height: 26px;
	padding: 0 300px;
}

.p__metric {
	font-size: 42px;
    color: #333;
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
	margin-top: 60px;
}

.p__metric span {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
	text-align: center;
	color: #686f7a;
	line-height: 26px;
	display: block;
}

.feature125 {
	text-align: center;
	margin-top: 35px;
}

.feature125 h4 {
	font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
	margin-bottom: 13px;
	margin-top: 26px;
	text-align: center;
	color: #333;
}

.feature125 p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
	margin-bottom: 0;
	color: #686f7a;
	margin-top: 0;
	text-align: center;
	line-height: 26px;
}

.feature125 i {
	font-size: 40px;
	text-align: center;
	color: #333;
	margin-bottom: 0;
}

._215zd5 {
    float: left;
    width: 100%;
	background: #fff;
	padding: 62px 0;
}

.title478 {
	padding: 62px 0 0;
}

.title478 h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4px !important;
    text-align: left;
    color: #333;
    line-height: 26px;
}

.title478 p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    text-align: left;
    color: #686f7a;
    line-height: 26px;
    padding-top: 27px;
}

.fcrse_1 {
    background: #fff;
    width: 100%;
	float: left;
    padding: 10px;
    border-radius: 10px;
	border: 1px solid #efefef;
	transition: all .2s ease-in-out;
}

.fcrse_img {
	width: 100%;
	float: left;
	position: relative;
}

.fcrse_img img {
    width: 100%;
    border-radius: 5px;
}

.fcrse_content {
    padding: 10px 5px;
	float: left;
    width: 100%;
	position: relative;
}

.mt-30 {
	margin-top: 30px;
}

.crse14s {
	display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 7px;
    line-height: 24px;
}

.crse-cate {
    display: block;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
	padding-top: 2px;
}

.story125 {
    text-align: center;
}

.story125 {
    text-align: center;
}

.jmio125 p {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0 !important;
    margin-top: 50px !important;
    text-align: left;
    color: #686f7a;
    line-height: 26px;
}

._215xd5 {
    padding: 62px 0;
    float: left;
    width: 100%;
	background: #fff;
}

.jmio125 img {
	width: 100%;
	margin-top: 50px;
}


.crer_btn_link {
    height: 40px;
    padding: 10px 20px;
    border: 0;
    margin-top: 34px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #2D2DA0;
	display: inline-block;
}

.crer_btn_link:hover {
    color: #fff !important;
    background: #333;
}


/* --- Coming Soon Page --- */

.no-padding {
    padding: 0 !important;
}

.no-float {
    float: none !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 75px;
}

.noti-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
	margin-top: 41px;
}

.cmtk_dt .clock {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cmtk_dt .clock li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    width: 22%;
}

.cmtk_dt .clock li span {
    font-weight: 600;
    font-size: 8em;
    color: #fff;
    line-height: 1em;
	display: block;
    font-family: "Roboto", sans-serif;
}

.cmtk_dt .clock, .cmtk_dt .social-icons a:hover {
    text-shadow: 1px 10px 6px rgba(0,0,0,0.2);
}

.cmtk_dt .clock li label {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: normal;
    color: #fff;
	font-family: 'Roboto', sans-serif;
	height: 20px;
    margin: 10px 0 0;
    line-height: 20px;
}

.cmtk_dt .clock li.sep {
    font-size: 5.5em;
    font-weight: 600;
	color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 38px 0;
    width: 4%;
}

.ui[class*="left icon"].thykh19.input>input {
    padding-left: 2em!important;
    padding-right: 8em!important;
    height: 50px !important;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
	border: 2px solid #fff !important;
	background: #f1f1f1;
}

.ui[class*="left icon"].thykh19.input>input:focus {
	border: 2px solid #fff !important;
}

.noti-btn {
	font-weight: 500;
	color: #fff;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	background: #2D2DA0;
	border-radius: 20px;
	height: 40px;
	border: 0;
	padding: 0 20px;
	position: absolute;
    top: 5px;
    right: 5px;
}

/* --- Error 404 Page --- */

.title_404 {
    font-size: 14em;
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1em;
    text-shadow: 1px 10px 6px rgba(0,0,0,0.2);
    padding-bottom: 29px;
    margin-top: 0;
}

.bk_btn {
	font-weight: 500;
	color: #fff;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	background: #2D2DA0;
	border-radius: 20px;
	height: 40px;
	border: 0;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 25px;
}

.bk_btn:hover {
	color: #fff !important;
	background: #2D2DA0;
	box-shadow: 1px 10px 6px rgba(0,0,0,0.2);
}

/* --- Terms of use Page --- */

.ttrm15 {
    float: left;
    width: 100%;
}

.ttrm15 li {
    display: block;
    float: left;
    width: 100%;
	padding: 15px 20px;
    border-bottom: 1px solid #efefef;
}

.ttrm15 li:last-child {
    border-bottom: 0;
}

.tt_item {
    float: left;
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
}

.atlink {
	font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
	font-style: italic;
    line-height: 26px;
    color: #333;
    text-align: left;
	margin-bottom: 20px;
}

.vew120 .term_link14 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #333;
    text-align: left;
}

.vew120 .term_link14:hover {
    color: #333 !important;
	text-decoration: underline !important;
}

 

.contact1256 {
    float: left;
    width: 100%;
	margin-top: 17px;
	margin-bottom: 64px;
}

.contact_link_step {
	background: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #efefef;
    box-shadow: -0.083333333in 0.5pc 1.125pc -7px rgba(25,42,70,.13);
    width: 100%;
    margin-top: 30px;
    text-align: center;
	display: block;
}

.contact_link_step img {
    width: 70px;
}

.contact_link_step h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #333;
    text-align: center;
	margin-top: 24px;
}

.contact_map {
	background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #efefef;
    box-shadow: none;
    width: 100%;
    margin-top: 64px;
    text-align: center;
}

.contact_map #map {
    width: 100%;
    height: 350px;
}

.contact_map #map svg g {
    fill: #2D2DA0 !important;
}

.contact_info {
    margin-top: 64px;
}

.contact_list_info {
	float: left;
    width: 100%;
	margin-top: 28px;
}

.contact_list_info li {
	display: block;
	padding-bottom: 10px;
	float: left;
    width: 100%;
}

.contact_list_info .txt_cntct {
	font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #686f7a;
    text-align: left;
	float: left;
    width: 100%;
}

.contact_list_info .cntct_895 i {
    font-size: 120%;
}

.edututs_links_social {
	float: left;
    width: 100%;
    margin-top: 24px;
}

.contact_list_info .cntct_895 {
    float: left;
    width: 35%;
    color: #333;
    font-weight: 500;
}

.contact_list_info .txt_cntct p {
    width: 65%;
    float: left;
    line-height: 26px;
}

/* --- Search Result --- */

.result_stitles {
    padding: 0px 0 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    float: left;
    width: 100%;
}

.rs6t_title {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    float: left;
}

.filter__counter {
	color: #686f7a;
	margin-left: 5px;
}

.rating_filter i {
	font-size: 18px;
    margin: 0 -3px;
    color: #fdcc0d;
}

.filter_selector {
    float: right;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 400;
}

.ui.inline.dropdown.flt145>.text {
    font-weight: 500 !important;
	font-family: 'Roboto', sans-serif;
}

/* --- Night Mode Btn --- */

.night_mode_switch__btn {
    border-bottom: 1px solid #efefef;
}

.night_mode_switch__btn a {
    display: block;
    font-size: 14px;
    transition: 0.3s;
    font-weight: 500;
	font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    color: #333;
    padding: 15px;
    position: relative;
	display: flex;
    align-items: center;
}

.night_mode_switch__btn a i {
    font-size: 120%;
	height: 30px;
	Width: 30px;
	background: #ffecec;
	border-radius: 100%;
	margin-right: 10px;
	padding: 6px 4px 0;
	display: inline-block;
}

.btn-night-mode .btn-night-mode-switch {
    display: inline-block;
    height: 18px;
    width: 37px;
    top: 35%;
    right: 13px;
    position: absolute;
}

._htg451 {
	margin-top: 30px;
	margin-bottom: 20px;
}

._htg452 h3 {
	font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 15px;
	color: #333;
}

._htg452 ul li {
    display: block;
    margin-bottom: 5px;
}

._htg452 ul li:last-child {
    margin-bottom: 0;
}

._215b17 {
	float: left;
    width: 100%;
}